@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:ital,wght@0,100;1,100&family=Space+Grotesk:wght@400;500&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    width: fit-content;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #101313;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  * {
    @apply font-spaceGrotesk;
  }
  form button {
    @apply rounded-lg h-12 w-82 transition ease-in-out delay-100;
  }
  body {
    @apply lg:bg-none lg:bg-black-100 text-white;
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  display: none;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff1a;
  border-radius: 100%;
  background-color: #101313;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2b8ce5;
  position: absolute;
  top: 3px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
